@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/breakpoint' as *;

:root {
  @include theme(themes.$g10);

  background-color: $background;
  color: $text-primary;

  .compliment {
    @include theme(themes.$g100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme(themes.$g100);

    .compliment {
      @include theme(themes.$g10);
    }
  }
}

.g10 {
  @include theme(themes.$g10);

  .compliment {
    @include theme(themes.$g100);
  }
}

.g100 {
  @include theme(themes.$g100);

  .compliment {
    @include theme(themes.$g10);
  }
}

.app {
  display: grid;
  grid-template-rows: $spacing-09 1fr;
  block-size: 100vh;
  overflow: hidden;
}

.main {
  block-size: 100%;
  overflow-y: auto;
}

.action-icon {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  background-color: $text-primary;
}

.notification .action-icon {
  mask: url('./notification.svg') no-repeat center;
}

.user-avatar .action-icon {
  mask: url('./user--avatar.svg') no-repeat center;
}

.app-switcher .action-icon {
  mask: url('./switcher.svg') no-repeat center;
}

.header-panel__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-05;
  padding: $spacing-05;
}

.header-panel__title {
  @include type-style('productive-heading-02');
}

.theme-selector__icon {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  background-color: $text-primary;
}

cds-content-switcher-item[selected] .theme-selector__icon {
  background-color: $background;
}

.theme-selector__icon--light {
  mask: url('./sun.svg') no-repeat center;
}

.theme-selector__icon--system {
  mask: url('./brightness-contrast.svg') no-repeat center;
}

.theme-selector__icon--dark {
  mask: url('./moon.svg') no-repeat center;
}

.page {
  /* Remove outer grid padding */
  padding: 0;

  > * {
    padding-inline: $spacing-06;
    margin: 0;
  }
}

.page-landing__banner {
  background-color: $layer;
  padding-block: $spacing-05 $spacing-13;
}

.page-landing__heading {
  @include type-style('productive-heading-05');

  margin: 0;
}

.page-landing__illo {
  max-inline-size: 100%;
  float: inline-end;
  block-size: auto;
}

@include breakpoint-down(md) {
  .page-landing__illo {
    max-inline-size: 528px;
    inline-size: 100%;
    block-size: 100%;
    float: inline-start;
  }
}

.page-landing__tabs {
  margin-block: (-1 * $spacing-08) $spacing-08;
  margin-inline: 0;
}

.page-landing__tab-content {
  padding-block: $spacing-06 $spacing-08;
}

.page-landing__subheading {
  @include type-style('productive-heading-03');

  font-weight: font-weight('semibold');
}

.page-landing__p {
  @include type-style('productive-heading-03');

  margin-block: $spacing-06 $spacing-08;
}

.page-landing__r3 {
  padding-block: $spacing-09;
  background: $layer-01;
}

.repo-page__r1 {
  padding-block: $spacing-05;
}

.link-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.link-list li:not(:last-child) {
  padding-inline-end: $spacing-02;

  &::after {
    content: '|';
    display: inline;
  }
}

.link-list li:not(:first-child) {
  padding-inline-start: $spacing-02;
}

.info-card__pictogram {
  inline-size: $spacing-10;
  block-size: $spacing-10;
  background-color: $text-primary;
}

.accelerating-pictogram {
  mask: url('./accelerating-transformation.svg') no-repeat center;
}

.advocate-pictogram {
  mask: url('./advocate.svg') no-repeat center;
}

.globe-pictogram {
  mask: url('./globe.svg') no-repeat center;
}

.info-section__heading {
  @include type-style('heading-01');

  padding-block-end: $spacing-08;
}

.info-card {
  display: flex;
  block-size: 300px;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: $spacing-05;
  border-inline-start: 1px solid $border-subtle;

  @include breakpoint-down(xlg) {
    &:nth-of-type(2) {
      border-inline-start: none;
      padding-inline-start: 0;
    }
  }

  @include breakpoint-down(lg) {
    flex-direction: row-reverse;
    border-inline-start: none;
    padding-inline: 0;
    gap: $spacing-07;
    padding-block-start: $spacing-10;
    block-size: initial;

    &:nth-of-type(2) {
      padding-block-start: 0;
    }
  }
}

.info-card__heading {
  @include type-style('heading-03');

  margin-block-start: 0;
}

.info-card__body {
  @include type-style('body-long-01');

  margin-block-start: $spacing-06;
}
