@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/spacing' as *;

:root {
  @include theme(themes.$g10);

  background-color: $background;
  color: $text-primary;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme(themes.$g100);
  }
}

.g10 {
  @include theme(themes.$g10);
}

.g100 {
  @include theme(themes.$g100);
}

.app {
  display: grid;
  grid-template-rows: $spacing-09 1fr;
  height: 100vh;
  overflow: hidden;
}
