@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes';

:host(tutorial-app) {
  .app {
    display: grid;
    grid-template-rows: 3rem 1fr;
    height: 100vh;
    overflow: hidden;
  }

  .g10 {
    @include theme(themes.$g10);
    background-color: $background;
    color: $text-primary;
  }

  .g100 {
    @include theme(themes.$g100);

    background-color: $background;
    color: $text-primary;
  }
}
